<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Loggers>
        # Override log level for specified package
        <Logger name="com.test.kafka" level="INFO"/>

        <Logger name="com.test.kafka.KafKaConsumer" level="INFO">
            <AppenderRef ref="stdout"/>
        </Logger>
    </Loggers>
</Configuration>